.wrap {
  background-color: #eee;
  //width: 375px;
  margin: 0 auto;
  padding: 10px;
}

.tabs {
  display: flex;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(#cdd9fe, #e2e9fd);
  transition: transform 0.3s ease-in-out;
}

.tab {
  flex: 0 0 33.34%;
  height: 50px;
  cursor: pointer;
  position: relative;
  text-align: center;
  line-height: 50px;
}

.tab.active {
  margin-top: -2px;
  background-color: #fff;
  color: #4185ef;
  //transition: .3s ease-in-out;
}

.tab.active:before {
  display: var(--active-before-display, flex);
  content: '';
  position: absolute;
  top: 0;
  left: -48px;
  height: 100%;
  width: 50px;
  z-index: 2;
  background-color: var(--active-bg-color, #fff);
  clip-path: path('M 0,50 C 25,50 25,0 50,0 L 50, 50 Z');
}

.tab.active:after {
  display: var(--active-after-display, flex);
  content: '';
  position: absolute;
  top: 0;
  right: -48px;
  height: 100%;
  width: 50px;
  z-index: 2;
  background-color: var(--active-bg-color, #fff);
  clip-path: path('M 0,0 C 25,0 25,50 50,50 L 0, 50 Z');
}

.content-wrap {
  margin-top: -4px;
  min-height: 200px;
  background-color: #fff;
}